static_url.ini
*.tar.gz
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
results
.DS_Store
npm-debug.log
node_modules
.idea
.vscode
.eslintignore
.npmignore
package-lock.json
.history
.next
.tempsprite
dist